Source: bleno
Section: unknown
Priority: extra
Maintainer: Robert Hedges <rhedges@truefitness.com>
Build-Depends: debhelper (>= 8.0.0), libbluetooth-dev
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/bleno.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/bleno.git;a=summary

Package: bleno
Architecture: i386
Depends: ${shlibs:Depends}, ${misc:Depends} , nodejs, libbluetooth
Description: Truefitness version of bleno Bluetooth Low Energy Peripherals
